.img{
    width: 700px;
   height: 400px;
}
.para{
    position: fixed;
    background-color: blue;
   
}
.doller{
    position: absolute;
    background-color: brown;
    top: 30px;
}
.descent p{background-color: rgb(226, 125, 43);
    color: aqua;
}
.child + p{background-color: rgb(106, 13, 192);
    color: aqua;
}
.adjacent > p{background-color: rgb(43, 226, 156);
    color: aqua;
}
.siblings ~ p{background-color: rgb(43, 205, 226);
    color: aqua;
}